<!-- dashboard.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/dashboard.css" />
    <title>Dashboard</title>
  </head>
  <body>
    <div class="container">
      <h2>Welcome</h2>
      <h5><p>"Cultivating Abundance: The Art of Modern Farming"</p></h5>
      <div class="button-container">
        <button class="dashboard-button" onclick="location.href='/know-more';">
          Know more about farming
        </button>
        <button
          class="dashboard-button"
          onclick="location.href='/predictions';"
        >
          Predictions
        </button>
      </div>
    </div>
  </body>
</html>
